<div class="yui3-skin-sam">
  <div id="imagecropper"></div>
  <div id="preview">
    <div id="result"></div>
    <p id="coords"></p>
  </div>
</div>

<script type="text/javascript">
YUI({
  gallery: '{{galleryVersion}}'
}).use('gallery-imagecropper', function(Y) {
    
  Y.Node.addMethod('setBackgroundXY', function (node, xy) {
    xy = xy || [0, 0];
    Y.Array.each(xy, function (val, i) {
      if (Y.Lang.isNumber(val)) {
        xy[i] += 'px';
      }
    });
    this.setStyle('backgroundPosition', xy.join(' '));
  });
  
  var coordview = Y.one('#coords'),
      result = Y.one('#result');

  function updatePreview(coords) {
    coordview.setContent(coords.left + 'x' + coords.top + ' ' + coords.width + 'x' + coords.height);

    result.setBackgroundXY([-coords.left, -coords.top]).setStyles({
      width: coords.width,
      height: coords.height
    });
  }
    
  var imagecropper = new Y.ImageCropper({
    source: 'http://farm8.staticflickr.com/7016/6748720265_e2f3e82fee.jpg',
    width: 333,
    height: 500
  });  
  imagecropper.render('#imagecropper');
  result.setStyle('backgroundImage', 'url(' + imagecropper.get('source') + ')');

  imagecropper.on('crop:crop', updatePreview);

  updatePreview(imagecropper.getCropCoords());
});
</script>
