<link rel="stylesheet" href="http://yui.yahooapis.com/3.6.0/build/cssbutton/cssbutton-min.css">
<style>
#save {
  position: absolute;
  top: 10px;
  left: 380px;
}
.example {
	position: relative;
}
</style>

<div class="intro">
<p>
This example demonstrates how to instantiate a simple ImageCropper. Try clicking on the button to get the coordinates of the crop area.
</p>
</div>

<div class="example yui3-skin-sam">
    {{>imagecropper-basic-source}}
</div>

<h2>ImageCropper from an existing image</h2>
<p>
You can create an ImageCropper from markup by pointing `srcNode` to an image already present in the page. Don't forget to provide the `width` and `height` attributes.
</p>
```
var imagecropper = new Y.ImageCropper({
  srcNode: "#crop",
  width: 335,
  height: 500
});
imagecropper.render();
```
<h2>Reporting the crop coordinates</h2>
<p>
When the save button is clicked, call the ImageCropper's `getCropCoords` method to get the current crop coordinates.
</p>
```
Y.one('#save').on('click', function () {
  var coords = imagecropper.getCropCoords()
  var msg = 'left: '   + coords.left  + '\n';
     msg += 'top: '    + coords.top   + '\n';
     msg += 'width: '  + coords.width + '\n';
     msg += 'height: ' + coords.height;
  alert(msg);
});
```

<h2>Complete Example Source</h2>

```
{{>imagecropper-basic-source}}
```
